.App {
  height: 100%;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  border: 5px;
  border-style: dashed;
}

.title {
  color: aliceblue;
}